<chart #chartVar [options]="options" type="StockChart"></chart>

<h1>Last Message:</h1>
{{headline}}

<h1>Liste</h1>
<table>
    <thead>
        <tr>
            <th>
                Top 5:
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let numberValue of messages">
            <td>
                {{numberValue}}
            </td>
        </tr>
    </tbody>
</table>